/* Import Noto Sans Light from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif; /* Updated font family */
    scroll-behavior: smooth;
    background-color: #121212;
    color: #E0E0E0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 280px;
}

/* Header */
#header {
    background-color: #1F1F1F;
    color: #E0E0E0;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid #333;
}

/* Slider */
#slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: #1F1F1F;
    border-radius: 50px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #E0E0E0;
    background-color: rgba(51, 51, 51, 0.7); /* Dimmed background color */
    background-size: cover;
    background-position: top;
    transition: opacity 1s;
    animation: moveBackground 5s;
}
  

.slide:nth-child(1) {
    background-color: #625472;
}

.slide:nth-child(2) {
    background-color: #03DAC6;
}

.slide:nth-child(3) {
    background-color: #CF6679;
}

/* Main Content */
main {
    flex: 1;
    padding: 2rem;
}

/* Flexbox for Sections */
.section-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.section {
    flex: 1 1 calc(33.333% - 1rem);
    margin: 1rem 0;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s, background-color 0.3s, border-color 0.3s;
    padding: 1rem;
    background-color: #1F1F1F;
    border: 2px solid #5B2D9C;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section:hover {
    background-color: #333;
    border-color: #B645CD;
}

.section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #A780D4;
}

/* Button Styling */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.5rem 3rem;
    background-color: #FFF;
    background-image: url("assets/github.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 5px center;
    color: #333;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #d3d3d3;
    transform: scale(1.05);
}

.button svg {
    margin-right: 0.5rem;
}

.language-selector {
    padding: 1rem;
}

.language-selector select {
    padding: 0.3rem;
    font-family: 'Noto Sans', sans-serif; /* Updated font family */
    font-weight: bold;
}


/* Footer */
#footer {
    background-color: #1F1F1F;
    color: #E0E0E0;
    text-align: left; /* Align text to the left */
    padding: 2rem 3rem; /* Add padding for modern look */
    border-bottom: 1px solid #f8f8f8;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute space between items */
    align-items: center; /* Vertically center text and button */
    font-size: 1rem; /* Adjust font size for better readability */
    line-height: 1.5; /* Increase line height for spacing */
}

#footer p {
    margin: 0;
}

/* Footer Button */
#footer .button {
    margin-left: auto; /* Push the button to the right */
    padding: 0.3rem 2.5rem;
    font-size: 1rem;
    margin-top: -0.2rem;
}

/* Animation */
.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .section {
        flex: 1 1 100%;
        margin: 0.5rem 0;
    }
}

@media (max-width: 480px) {
    .section h2 {
        font-size: 1.25rem;
    }
    .slide {
        font-size: 2rem;
    }
}

@media (max-width: 800px) {
    .section h2 {
        font-size: 1.25rem;
    }
    .slide {
        font-size: 2rem;
    }
}

@keyframes moveBackground {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
